<?xml version="1.0"?>
<launch>

  <!-- Map path -->
  <arg name="map_file" default="$(find vrep_holonomic_slam)/maps/dynamic_obstacles.yaml"/>
  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
	<rosparam file="$(find vrep_holonomic_slam)/params/amcl_params.yaml" command="load" />
    <param name="odom_model_type"	value="omni"/>
    <param name="initial_pose_x"    value="0"/>
    <param name="initial_pose_y"    value="0"/>
    <param name="initial_pose_a"    value="0"/>
  </node>

  <!-- Run RViz node (visualization) -->
  <include file="$(find vrep_holonomic_slam)/launch/rviz.launch">
  </include>
  
</launch>
