<?xml version="1.0"?>
<launch>

  <!-- Laserscan to Pointcloud -->
  <!-- <node pkg="vrep_holonomic_navigation" type="laserscan_to_pointcloud.py" name="laserscan_to_pointcloud" /> -->

  <!-- Move_base-->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find vrep_holonomic_navigation)/params/costmap_common_params.yaml"    command="load" ns="global_costmap" />
    <rosparam file="$(find vrep_holonomic_navigation)/params/costmap_common_params.yaml"    command="load" ns="local_costmap" />
    <rosparam file="$(find vrep_holonomic_navigation)/params/local_costmap_params.yaml"     command="load" />
    <rosparam file="$(find vrep_holonomic_navigation)/params/global_costmap_params.yaml"    command="load" />
    <rosparam file="$(find vrep_holonomic_navigation)/params/teb_local_planner_fast_params.yaml" command="load" />
    <rosparam file="$(find vrep_holonomic_navigation)/params/costmap_converter_params.yaml" command="load" />
	  
    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
    <param name="planner_frequency"   value="20.0" /> <!--20.0-->
    <param name="planner_patience"    value="15.0" /> <!--15.0-->

    <param name="base_local_planner"   value="teb_local_planner/TebLocalPlannerROS" />
    <param name="controller_frequency" value="20.0" /> <!--20.0-->
    <param name="controller_patience"  value="15.0" /> <!--15.0-->
  </node>>
  
</launch>
